<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Sativa`Bogota</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo2.css">
</head>

<body>
  <header>
      <nav class="navbar navbar-expand-md ">
          <div class="container-fluid">
              <a class="navbar-brand" href="index.html"><img src="../Logo/sativa.png" width="150px"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar" >
                  <ul class="navbar-nav me-auto">
                     <li class="nav-item">
                       <a class="nav-link" href="javascript:void(0)">Productos</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="formulario.html">Agregar Producto</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="javascript:void(0)">Eventos</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="poductos2.html">Contactos</a>
                     </li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>


<div id="contenedor-recetas" class="container mt-4"></div>
<footer class="final">
  <!-- Grid container -->
  <div class="container p-1">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h3 class="text-uppercase" style="color: brown;">Sativa´Bogota</h3>
        <p style="color: aliceblue;">
         No pierdas la experiencia de digustar y crear un punto placentero a tu paladar,
         siendo productos naturales traidos del campo, los cookies de cacao y cafe, son
         parte de nuestra gran experiencias de nuestro trabajo echo para ustedes.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color: brown;">SERVICIOS</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Eventos</a>
          </li>
          <li>
            <a href="#!" class="text-white">Comentarios</a>
          </li>
          <li>
            <a href="#!" class="text-white">Atencion al cliente</a>
          </li>
          <li>
            <a href="#!" class="text-white">Direccionamiento</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color: brown;">MIRANOS</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">INSTAGRAM</a>
          </li>
          <li>
            <a href="#!" class="text-white">FACEBOOK</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
    © Sativa´Bogota:
    <a style="color: brown;">Un postre para todos!</a>
  </div>
  <!-- Copyright -->
</footer>

<script src="../Js/producto.js"></script>
</body>
</html>
